FINERACT_TENANT_ID=default
FINERACT_AUTH_MODE=basic
FINERACT_USERNAME=mifos
FINERACT_PASSWORD=password
FINERACT_BANK_ID=0720
FINERACT_ACCOUNT_PREFIX=000289
FINERACT_BANK_COUNTRY_CODE=UG
FINERACT_CHECK_DIGITS=68
FINERACT_LOCALE=en
FINERACT_PAYMENT_TYPE_ID=1
SDK_SERVER_HOST=0.0.0.0
SDK_SERVER_PORT=3003
DFSP_SERVER_HOST=0.0.0.0
DFSP_SERVER_PORT=3004
#Do not put the trailing slash on the url
FINERACT_BASE_URL=https://demo.mifos.io/fineract-provider/api/v1
SDK_BASE_URL=http://localhost:4010